<%#= react_component("UserShow", { user: @user }) %>

<div class="container">
  <h2><%= @user.name %></h2>

  <%= button_to "Fetch Todos", '/todos', method: :post, remote: true, params: {userId: @user.id}, id: 'fetch-button' %>

  <strong><span id="message">Ready</span></strong>

</div>


