<%#= react_component("UserShow", { user: @user }) %>

<h4><%= @user.name %></h4>

<div id="messages"></div>

<%= button_to "Fetch Todos", '/todos', method: :post, remote: true, params: {userId: @user.id} %>

