<%#= react_component("UserShow", { user: @user }) %>

<div class="container">
  <h5><%= @user.name %></h5>

  <%= button_to "Fetch Todos", '/todos', method: :post, remote: true, params: {userId: @user.id} %>

  <strong><span id="message">Ready</span></strong>

</div>


